.wrapper {
  width: 800px;
  border: 3px solid green;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
[class^=bar] {
  padding: 20px;
  border: 0 solid blue;
  text-align: center;
  align-self: center;
}
.spell {
  background-color: gold;
  padding: 0;
  text-align: left;
  align-self: start;
  border: 1px solid blue;
}
.chatWindow {
  background-color: white;
  padding: 20px;
    text-align: left;
  align-self: start;
  border: 1px solid blue;
}
body {
    background:
    url("arts/bg.jpg"),
    center / cover;
}
#progressBar-boss {
    width: auto;
    height: 4rem;
    border: 0 brown;
    margin-top: 0;
    background-color: #FF7F50;
}
#progressBarFull-boss {
    height: 4rem;
    background-color: brown;
    width: 100%;
}
#progressBar-tank {
    width: auto;
    height: 4rem;
    border: 0 brown;
    margin-top: 0;
    background-color: Moccasin;
}
#progressBarFull-tank {
    height: 4rem;
    background-color: olive;
    width: 100%;
}
[id^=progressBar-dps] {
    width: auto;
    height: 4rem;
    border: 0 brown;
    margin-top: 0;
    background-color: DarkSeaGreen;
}
[id^=progressBarFull-dps] {
    height: 4rem;
    background-color: ForestGreen;
    width: 100%;
}
#progressBar-healer {
    width: auto;
    height: 4rem;
    border: 0 brown;
    margin-top: 0;
    background-color: LightSteelBlue;
}
#progressBarFull-healer {
    height: 4rem;
    background-color: LightSlateGray;
    width: 100%;
}

#progressBar-mana {
    width: auto;
    height: 4rem;
    border: 0 brown;
    margin-top: 0;
    background-color: Gainsboro;
}
#progressBarFull-mana {
    height: 4rem;
    background-color: DarkSlateBlue;
    width: 100%;
}